/* 自定义按钮样式 */
.custom-button-1 {
    position: relative;
    display: inline-block;
    font-size: 1.125rem;
    cursor: pointer;
    text-decoration: none;
    margin: 10px;
}

.custom-button-1 .btn-main {
    position: relative;
    z-index: 10;
    display: block;
    padding: 12px 20px;
    overflow: hidden;
    font-weight: 500;
    line-height: 1.25;
    color: #374151;
    border: 2px solid #14306c;
    border-radius: 0.5rem;
    transition: color 0.3s ease-out;
}

.custom-button-1 .btn-main:hover {
    color:#000000;;
}

.custom-button-1 .btn-bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    padding: 12px 20px;
    border-radius: 0.5rem;
    background-color: #f9fafb;
}

.custom-button-1 .btn-effect {
    position: absolute;
    left: 0;
    width: 192px;
    height: 192px;
    margin-left: -0.5rem;
    transition: all 0.3s;
    transform-origin: top right;
    transform: rotate(-90deg) translateX(-100%) translateY(3rem);
    background-color: #111827;
    border-radius: 0.5rem;
}

.custom-button-1:hover .btn-effect {
    transform: rotate(-180deg);
    color: #FFD700;
}

.custom-button-1 .btn-text {
    position: relative;
    z-index: 2;
}

.custom-button-1 .btn-shadow {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3rem;
    margin-bottom: -0.25rem;
    margin-right: -0.25rem;
    transition: all 0.2s ease-linear;
    background-color: #000000;
    border-radius: 0.5rem;
}

.custom-button-1:hover .btn-shadow {
    margin-bottom: 0;
    margin-right: 0;
}